.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  scroll-behavior: smooth;
}

.desktop .div {
  background-color: #ffffff;
  width: 1440px;
  height: 2347px;
  position: relative;
}
.nav-text-click{
  text-decoration: none;
  color: #616563;
}
.nav-text-click:hover{
  color: #000000;
}


.desktop .overlap {
  width: 1365px;
  height: 1187px;
  left: 38px;
  position: absolute;
  top: 0;
}

.desktop .rectangle {
  position: absolute;
  width: 700px;
  height: 1024px;
  top: 0;
  left: 332px;
  background-color: #8eceb257;
}

.desktop .nav {
  position: absolute;
  width: 1228px;
  height: 50px;
  top: 28px;
  left: 2px;
}

.desktop .text-wrapper {
  position: absolute;
  top: 5px;
  left: 0;
  font-family: "Hahmlet", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 4.5px;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 9px;
  left: 433px;
  font-family: "Gelasio", Helvetica;
  font-weight: 400;
  color: #616563;
  font-size: 25px;
  letter-spacing: 4.5px;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 9px;
  left: 612px;
  font-family: "Gelasio", Helvetica;
  font-weight: 400;
  color: #616563;
  font-size: 25px;
  letter-spacing: 4.5px;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 9px;
  left: 814px;
  font-family: "Gelasio", Helvetica;
  font-weight: 400;
  color: #606563;
  font-size: 25px;
  letter-spacing: 4.5px;
  line-height: normal;
}

.desktop .gallery {
  position: absolute;
  width: 171px;
  height: 50px;
  top: 0;
  left: 1051px;
}

.desktop .text-wrapper-5 {
  top: 9px;
  left: 62px;
  font-family: "Gelasio", Helvetica;
  font-size: 25px;
  letter-spacing: 4.5px;
  position: absolute;
  font-weight: 400;
  color: #000000;
  line-height: normal;
}

.desktop .overlap-group {
  width: 50px;
  height: 50px;
  left: 0;
  background-color: #8eceb2;
  border-radius: 25px;
  position: absolute;
  top: 0;
}

.desktop .image {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 7px;
  left: 7px;
  object-fit: cover;
}

.desktop .text-wrapper-6 {
  top: 126px;
  left: 580px;
  font-family: "Familjen Grotesk", Helvetica;
  font-size: 50px;
  letter-spacing: 9px;
  position: absolute;
  font-weight: 400;
  color: #000000;
  line-height: normal;
}

.desktop .rectangle-8 {
  position: absolute;
  width: 144px;
  height: 4px;
  top: 194px;
  left: 610px;
  background-color: #000000;
  border-radius: 40px;
  border: 1px solid;
}

.desktop .img {
  position: absolute;
  width: 1439px;
  height: 537px;
  top: 1810px;
  left: 1px;
}

.desktop .rectangle-9 {
  position: absolute;
  width: 445px;
  height: 445px;
  top: 1212px;
  left: 498px;
  background-color: #ffffff;
  box-shadow: 2px 4px 13px 3px #00000040;
}

.desktop .rectangle-10 {
  position: absolute;
  width: 445px;
  height: 445px;
  top: 1212px;
  left: 958px;
  background-color: #ffffff;
  box-shadow: 2px 4px 13px 3px #00000040;
}

.desktop .rectangle-11 {
  position: absolute;
  width: 445px;
  height: 445px;
  top: 1212px;
  left: 38px;
  background-color: #ffffff;
  box-shadow: 2px 4px 13px 3px #00000040;
}

.text-outer-div{
  position: absolute;
  margin-left:20px;
  top: 190px;
  height: 30px;
  width: 100%;
  /* border:1px solid black; */
  font-size: 20px;
  font-family: "Gelasio", Helvetica;
}

.text-innter-div{
  float: left;
  padding-left: 25px;
  padding-right: 25px;
  padding-top:8px;
  padding-bottom:8px;
  background-color: rgba(189, 243, 186, 0.334);
  border: 1px solid rgba(0, 0, 0, 0.187);
  border-radius: 25px;
  letter-spacing:2px;
}

.outer-rectangle{
  position: absolute;
  /* top: 272px; */
  top: 230px;
  height: 690px;
  width: 100%;
  /* border:1px solid black; */
}

.myRectangle-1 {
  margin-left:20px;
  margin-top:20px;
  width: 315px;
  height: 315px;
  background-color: #ffffff;
  box-shadow: 2px 4px 13px 3px #00000040;
  float: left;
}

.img-shadow{
  color:#000000;
}
.img-shadow:hover{
  /* border: 1px solid black; */
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
}
@media (max-width:1400px) {
  .desktop .text-wrapper {
    font-size: 35px;
  }
  .desktop .text-wrapper-2 {
    font-size: 30px;
  }
  .desktop .text-wrapper-3 {
    font-size: 30px;
  }
  .desktop .text-wrapper-4 {
    font-size: 30px;
  }
  .desktop .text-wrapper-5 {
    font-size: 30px;
  }
  
  
}

